*.gz
*.ldb
*.pyc
*.pyo
*.tbz
*.tgz
*/*cache/
*/cache*/
*/work/*
.*.swp
.*_history
.CFUserTextEncoding
.DS_Store
.cache
.lesshst
.mime.types
.netrc
.nfs.*
.pgpass
.viminfo
.yarnrc
.zsh_sessions
.zshist
/.Trash/
/.bitcoin
/.config/
/.dart/
/.dropbox/
/.fheroes2/
/.freeciv/
/.local/
/.logseq/
/.npm/
/.pub-cache/
/.sparrow/
/.specter/
/.ssh/
/.tor/
/.vim/
/.wine/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/OneDrive
/Pictures/
/Public/
/git/
/go/
cache
downloads
id_dsa
id_ed25519
id_rsa
magic/*.mgc
temp
tmp
